# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
dist/
build/
*.egg-info/

# Ansible
ansible/*.retry

# OS
.DS_Store
